
*{
 margin: 0px;
 padding: 0px;
 background: #2f4f4f;
}
body{
 font-family: arial;
}
.main{
 margin: 2%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
     color: white;
    }

.image img{
  align:center;
  height: 180px;
  width:250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #708090;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  text-decoration: none;
  color: #fff;
  background-color: #000;
  color: white;
  transition: .5s;
  cursor: pointer;
}

a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}